 @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
* {
	padding: 0px;
	margin: 0px;
}
body {
	background: #f0ede6;
}
h1, h2 {
	text-align: center
}
h1 {
	font-size: 110px;
	color: #a6ce39;
	font-family: 'Oswald', sans-serif;
}
h2 {
	font-size: 30px;
	color: #424242;
	font-family: 'Roboto Condensed', sans-serif;
	width: 380px;
	position: relative;
	margin: 60px auto 0;
	line-height: 20px;
}
h2:before {
	content: "";
	width: 52px;
	height: 3px;
	background: #9d9d9d;
	position: absolute;
	left: 0;
	top: 8px;
}
h2:after {
	content: "";
	width: 52px;
	height: 3px;
	background: #9d9d9d;
	position: absolute;
	right: 0;
	top: 8px;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}
.com-container {
	width: 780px;
	padding: 0px 15px;
	margin: 0 auto;
	text-align: center;
}
.logo {
	width: 322px;
	margin: 75px auto 0;
}
.timewrp {
	margin-top: 27px;
	margin-bottom: 57px;
}
.timewrp li {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	list-style: outside none none;
	color: #5A5A5A;
	width: 106px;
	margin: 0px 11px;
	display: inline-block;
}
.timewrp li span {
	font-size: 49px;
	color: #3989c6;
	background: #ffffff;
	border: 1px solid #d9d7d1;
	border-radius: 2px;
	width: 106px;
	height: 106px;
	line-height: 106px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	float: left;
	margin-bottom: 8px;
}
footer {
	background: #004f92;
	padding: 45px 0px 40px;
	overflow: auto;
}
footer p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 8px;
}
input {
	border: 1px solid #003868;
	height: 55px;
	width: 592px;
	border-radius: 5px;
	background: #fff;
	color: #5a5a5a;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	padding: 0px 15px;
	float: left;
}
button {
	background: #a6ce39;
	font-weight: 500;
	color: #334010;
	height: 55px;
	width: 150px;
	border: 0px;
	border-radius: 5px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	margin-left: 5px;
	float: left;
}
footer p small {
	font-size: 17px;
	font-weight: 300;
	margin-top: 40px;
	width: 100%;
	float: left;
	text-align: center;
}
 @media (min-width:768px) and (max-width:980px) {
.com-container {
	width: 80%;
}
.logo {
	width: 270px;
}
.logo img {
	width: 100%;
}
h2 {
	font-size: 25px;
	width: 320px;
}
h2:before {
	width: 42px;
	height: 2px;
}
h2:after {
	width: 42px;
	height: 2px;
}
h1 {
	font-size: 90px;
}
p {
	font-size: 19px;
}
.timewrp li {
	font-size: 16px;
	width: 86px;
}
.timewrp li span {
	font-size: 39px;
	width: 86px;
	height: 86px;
	line-height: 86px;
}
footer p {
	font-size: 19px;
}
input {
	height: 45px;
	font-size: 15px;
	width: 69%;
}
button {
	height: 45px;
	font-size: 20px;
	width: 23%;
	margin-left: 2%;
}
}
 @media (min-width:320px) and (max-width:767px) {
.com-container {
	width: 90%;
}
.logo {
	width: 170px;
	margin-top: 50px;
}
.logo img {
	width: 100%;
}
h2 {
	font-size: 15px;
	width: 164px;
	margin-top: 30px;
}
h2:before {
	width: 20px;
	height: 1px;
	margin-top: 2px;
}
h2::after {
	width: 20px;
	height: 1px;
	margin-top: 2px;
}
h1 {
	font-size: 45px;
}
p {
	font-size: 14px;
	line-height: 17px;
	padding: 0px 10%;
}
.timewrp li {
	font-size: 12px;
	width: 57px;
	margin: 0px 2px;
}
.timewrp li span {
	font-size: 25px;
	height: 60px;
	line-height: 60px;
	width: 100%;
	margin-bottom: 5px;
}
footer p {
	font-size: 13px;
	padding: 0px;
}
input {
	height: 35px;
	font-size: 12px;
	width: 65%;
}
button {
	height: 35px;
	font-size: 14px;
	width: 23%;
	margin-left: 2%;
}
footer p small {
	font-size: 12px;
	margin-top: 20px;
}
}
